<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <center>
                <h1>These are the trucks in  {{ trucks.[0].location }}</h1> 
            </center>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
    <center>

        {{#each trucks}}
        <a href="/{{this.location}}/{{this.name}}" class="truckButton" data-id="{{this.name}}" >
            {{this.name}}
        </a>
        <br>
        {{/each}}

    </center>
    </div>
    </div>

</div>